
    /* Chrome, Safari, Edge, Opera */
#bid-input::-webkit-outer-spin-button,
#bid-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#bid-input[type=number] {
  -moz-appearance: textfield;
}

ul.profile-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-weight: bold !important;
}

.image-gallery {
  width: 100%;
  height: auto;

}

.image-gallery-slide img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
} 